<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a data-th-href="@{/search}"></a>
    <table data-th-object="${listing}">
        <tr><td>Id: </td>
            <td><span data-th-text="${listing._id}"></span></tr></td>
        <tr>Description: <span data-th-text="*{description}"></span></tr>
        <tr>Address: <span data-th-text="*{address}"></span></tr>
        <tr><img data-th-src="${listing.image}"> </tr>
        <tr>Price: <span data-th-text="*{price}"></span></tr>
        <tr>Amenities: <span data-th-text="*{amenities}"></span></tr>
    </table>
    <br>
    <form action="#" data-th-object="${user}" data-th-action="">
        <input value="Name: " type="text" data-th-field="*{name}">
        <input value="Email: " type="email" data-th-field="*{email}">
        <input value="Arrival: " type="date" data-th-field="*{bookingDate}">
        <input value="Stay " type="text" data-th-field="*{stayDuration}">
        <br>
        <button type="submit" value="Book"></button>
    </form>
</body>
</html>