<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Our Accomodations</h1>
    <form action="#" data-th-object="${searchParams}" data-th-action="/search" method="GET">
        <h2> Country <select name="country" id="country" ></h2>
        <h2> Number of persons: <input type="number" data-th-field="*{pax}"></h2>
        <h2> Price Range: Min<input type="number" data-th-field="*{min}">  Max<input type ="number" data-th-field="*{max}"></h2>
        <input type="submit" value="Search">
    </form>
</body>
</html>