<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
            <tr>
                <td>Address</td>
                <td>Price</td>
                <td>Image</td>
                <td></td>
            </tr>
            <tr data-th-each="doc : ${resultListings}">
            <td> <span data-th-text="${doc.address}"> </span></td>
            <td> <span data-th-text="${doc.price}"> </span></td>
            <td> <img data-th-src="${doc.image}"> </td>
            <td><form data-th-object="${accomsId}" method="post" data-th-action="@{/{id}(id=${doc.id})}">
                <input type="hidden" data-th-value="${doc.id}">
                <button type="submit">Details</button>          
            </form>
            </td>
            </tr>   
    </table>
</body>
</html>